{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <form action="{% templatetag openblock %} url 'password_reset_view' {% templatetag closeblock %}" method="post" id="reset">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}
        <label for="id_email">E-mail:</label>&nbsp;<input type="text" id="id_email" name="email" class="inputtext" value="{% templatetag openblock %} if form.email.data {% templatetag closeblock %}{% templatetag openvariable %} form.email.data {% templatetag closevariable %}{% templatetag openblock %} endif {% templatetag closeblock %}" /><br />
        {% templatetag openvariable %} form.email.errors {% templatetag closevariable %}<br />
        <input type="submit" value="Reset" />
    </form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
