{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

    <form action="" method="post">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}
        {% templatetag openblock %} if form.errors {% templatetag closeblock %}
            <p class="errornote">
                Please correct the errors below.
            </p>
        {% templatetag openblock %} endif {% templatetag closeblock %}

        <h1>Password change</h1>

        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

        <fieldset class="module aligned wide">

            <div class="form-row">
                {% templatetag openvariable %} form.old_password.errors {% templatetag closevariable %}
                <label for="id_old_password" class="required">Old password:</label>{% templatetag openvariable %} form.old_password {% templatetag closevariable %}
            </div>

            <div class="form-row">
                {% templatetag openvariable %} form.new_password1.errors {% templatetag closevariable %}
                <label for="id_new_password1" class="required">New password:</label>{% templatetag openvariable %} form.new_password1 {% templatetag closevariable %}
            </div>

            <div class="form-row">
                {% templatetag openvariable %} form.new_password2.errors {% templatetag closevariable %}
                <label for="id_new_password2" class="required">Password (again):</label>{% templatetag openvariable %} form.new_password2 {% templatetag closevariable %}
            </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Change my password" class="default" />
        </div>

    </form>

{% templatetag openblock %} endblock {% templatetag closeblock %}
