{% templatetag openblock %} autoescape off {% templatetag closeblock %}
You're receiving this e-mail because you requested a password reset
for your user account at {% templatetag openvariable %} site_name {% templatetag closevariable %}.

Please go to the following page and choose a new password:
{% templatetag openblock %} block reset_link {% templatetag closeblock %}
{% templatetag openvariable %} protocol {% templatetag closevariable %}://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'password_reset_confirm_view' uidb36=uid token=token {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
Your username, in case you've forgotten: {% templatetag openvariable %} user.username {% templatetag closevariable %}

Thanks for using our site!

The {% templatetag openvariable %} site_name {% templatetag closevariable %} team

{% templatetag openblock %} endautoescape {% templatetag closeblock %}
