{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    {% templatetag openblock %} if validlink {% templatetag closeblock %}
        <form action="" method="post" id="change">
            {% templatetag openblock %} csrf_token {% templatetag closeblock %}
            <label for="id_new_password1">New password:</label>&nbsp;<input type="password" id="id_new_password1" name="new_password1" /><br />
            {% templatetag openvariable %} form.new_password1.errors {% templatetag closevariable %}
            <label for="id_new_password2">Repeat password:</label>&nbsp;<input type="password" id="id_new_password2" name="new_password2" />&nbsp;<input type="submit" value="Change" /><br />
            {% templatetag openvariable %} form.new_password2.errors {% templatetag closevariable %}
            <span>Repeat password twice.</span>
        </form>
    {% templatetag openblock %} else {% templatetag closeblock %}
        <span>Bad link</span>
        <a href="{% templatetag openblock %} url 'password_reset_view' {% templatetag closeblock %}">Password reset</a>
{% templatetag openblock %} endif {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
