{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <form action="" method="post" id="change">
            {% csrf_token %}
            <label for="id_new_password1">New password:</label>&nbsp;<input type="password" id="id_new_password1" name="new_password1" /><br />
            {{ form.new_password1.errors }}
            <label for="id_new_password2">Repeat password:</label>&nbsp;<input type="password" id="id_new_password2" name="new_password2" />&nbsp;<input type="submit" value="Change" /><br />
            {{ form.new_password2.errors }}
            <span>Repeat password twice.</span>
        </form>
    {% else %}
        <span>Bad link</span>
        <a href="{% url "password_reset_view" %}">Password reset</a>
{% endif %}
{% endblock %}
